<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">
    <global-method-security pre-post-annotations="enabled" />

    <http pattern="/**" security="none"></http>

    <beans:bean id="myUserDetailsService"
          class="group2.candidates.service.UserdetailsService"/>
    <beans:bean id="passwordEncoder"
          class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
    </beans:bean>

    <authentication-manager>
<!--        <authentication-provider-->
<!--                user-service-ref="myUserDetailsService" >-->
<!--            <password-encoder ref="passwordEncoder"></password-encoder>-->
<!--        </authentication-provider>-->
        <authentication-provider>
            <user-service>
                <user name="khanh" password="12345" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>
