<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/data/jpa
       http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <context:property-placeholder location="classpath*:datasource.properties"/>
    <context:component-scan base-package="group2.candidates"/>
    <jpa:repositories base-package="group2.candidates.repository"/>

        <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
            <property name="driverClassName" value="${mysql.driverClassName}"/>
            <property name="url" value="${mysql.url}"/>
            <property name="username" value="${mysql.username}"/>
            <property name="password" value="${mysql.password}"/>
        </bean>

<!--    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
<!--        <property name="driverClassName" value="org.postgresql.Driver"/>-->
<!--        <property name="url"-->
<!--                  value="jdbc:postgresql://ec2-174-129-229-106.compute-1.amazonaws.com:5432/dae741ea4mtkc0?useUnicode=true&amp;sslmode=require"/>-->
<!--        <property name="username" value="letielvzrtscbw"/>-->
<!--        <property name="password" value="72595931d93d49b4f3b978dba621c6196b4dd6ace810c0f48bc5b47d3c9052be"/>-->
<!--    </bean>-->


<!--    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
<!--        <property name="driverClassName" value="org.postgresql.Driver"/>-->
<!--        <property name="url"-->
<!--                  value="${postgres.uri}"/>-->
<!--    </bean>-->


    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <bean class="org.springframework.http.converter.json.GsonHttpMessageConverter">
                <property name="defaultCharset" value="UTF-8"/>
                <property name="gson">
                    <bean class="group2.candidates.tool.JsonParser" factory-method="create"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean name="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="group2.candidates.model"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.jdbc.batch_size">1000</prop>
                <prop key="hibernate.order_inserts">true</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.enable_lazy_load_no_trans">true</prop>
                <prop key="hibernate.jdbc.batch_versioned_data">true</prop>
<!--                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</prop>-->
                                                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>

        </property>
    </bean>
    <bean name="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <mvc:cors>
        <mvc:mapping path="/authenticate" allowed-methods="POST" allowed-origins="*"/>
        <mvc:mapping path="/**"
                     allowed-origins="*"
                     allowed-methods="*"
                     exposed-headers="authorization, Authorization"
        />
    </mvc:cors>
    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>
</beans>