<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:bean id="myUserDetailsService"
                class="group2.candidates.service.UserdetailsService"/>
    <beans:bean id="passwordEncoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <beans:constructor-arg value="12"/>
    </beans:bean>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="myUserDetailsService">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>
    <user-service id="userDetailsManager">
        <user name="admin" password="$2a$12$gmFXC74IRBODfkGcWhVUGelfT7hb3yeObUe.swjwMhAuwqRwv6Ori"
              authorities="ROLE_ADMIN"/>
        <user name="user" password="$2a$12$gmFXC74IRBODfkGcWhVUGelfT7hb3yeObUe.swjwMhAuwqRwv6Ori"
              authorities="ROLE_USER"/>
    </user-service>

    <beans:bean id="restAuthenticationEntryPoint" class="group2.candidates.security.RestAuthenticationEntryPoint"/>
    <beans:bean id="myAuthenticationFilter" class="group2.candidates.security.JwtAuthenticationFilter">
        <beans:constructor-arg name="authenticationManager" ref="authenticationManager"/>
    </beans:bean>
    <beans:bean id="myAuthorizationFilter" class="group2.candidates.security.JwtAuthorizationFilter">
        <beans:constructor-arg name="authenticationManager" ref="authenticationManager"/>
    </beans:bean>
    <http pattern="/**" create-session="stateless" entry-point-ref="restAuthenticationEntryPoint">
        <cors/>
        <csrf disabled="true"/>
        <custom-filter ref="myAuthenticationFilter" before="FORM_LOGIN_FILTER"/>
        <custom-filter ref="myAuthorizationFilter" before="ANONYMOUS_FILTER"/>
        <!--<intercept-url pattern="/account/**" access="hasRole('ROLE_ADMIN')"/>-->
    </http>
</beans:beans>